@font-face {
  font-family: 'Source Sans Pro-Regular';
  src: url(fonts/SourceSansPro-Regular.otf);
}


@font-face {
  font-family: 'Source Sans Pro-Bold';
  src: url(fonts/SourceSansPro-Bold.otf);
}

@font-face {
  font-family: 'Source Sans Pro-Semibold';
  src: url(fonts/SourceSansPro-Semibold.otf);
}



@font-face {
  font-family: 'Source Sans Pro-Extralight';
  src: url(fonts/SourceSansPro-ExtraLight.otf);
}

@font-face {
  font-family: 'Source Sans Pro-Light';
  src: url(fonts/SourceSansPro-Light.otf);
}

@font-face {
  font-family: 'Source Sans Pro-LightIt';
  src: url(fonts/SourceSansPro-LightIt.otf);
}


@font-face {
  font-family: 'Source Sans Pro-Black';
  src: url(fonts/SourceSansPro-Black.otf);
}

@font-face {
  font-family: 'Source Sans Pro-It';
  src: url(fonts/SourceSansPro-It.otf);
}

h1,
h2,
h3,
a,
p {
  font-weight: none;
  font-style: none;
  text-decoration: none;


}


.jumbotron {
  background: url(images/background.png) fixed center no-repeat;
  background-size: cover;
  height: 1093px;

}



.navbar-brand a {
  font-family: 'Source Sans Pro-Bold';
  font-size: 12px;
  text-decoration: none;
}

.banner h1 {
  font-family: 'Source Sans Pro-Bold';

}

.three-words p {
  font-family: 'Source Sans Pro-Bold';

}

.banner button {
  background-color: #C271FF;
}

.banner li {
  text-decoration: none;
}



.three-words p {
  font-size: 16px;
}

.learn {
  font-family: 'Source Sans Pro-Bold';
  font-size: 32px;
  color: #C271FF;
}

.from-the-pros {
  font-family: 'Source Sans Pro-Light';
  font-size: 32px;
}

.four-pros h3 {
  font-family: 'Source Sans Pro-Black';
  font-size: 18px;
}

.four-pros p {
  font-family: 'Source Sans Pro-Regular';
  font-size: 16px;

}

.pro-description {
  width: 180px;
  text-align: center;
  margin: 0 auto;
}

.testimonial {
  background-color: #C271FF;
}

.testimonial i,
blockquote {
  font-family: 'Source Sans Pro-Regular';
  font-size: 22px;
}

.testimonial p {
  font-family: 'Source Sans Pro-Bold';
  font-size: 22px;
}

.video h1 {
  font-family: 'Source Sans Pro-ExtraLight';
  font-size: 32px;
  color: #071629;
}

.video span {
  font-family: 'Source Sans Pro-Bold';
  font-size: 32px;
  color: #C271FF;
}

.video h2 {
  font-family: 'Source Sans Pro-Bold';
  font-size: 16px;
  color: #071629;
}

.video p {
  font-family: 'Source Sans Pro-Regular';
  font-size: 14px;
  color: #071629;
  opacity: 50.16%;
}

.video h3 {
  font-family: 'Source Sans Pro-SemiBold';
  font-size: 16px;
  color: #C271FF;
}

.stars-mins p {
  font-family: 'Source Sans Pro-SemiBold';
  font-size: 14px;
  color: #C271FF;
}



.stars-mins img {
  max-width: 15px;
  max-height: 15px;
}

.membership {
  background-color: #071629;
}

.free-membership h1 {
  font-family: 'Source Sans Pro-ExtraLight';
  font-size: 32px;
  color: #FFFFFF;
}

.free-membership span {
  font-family: 'Source Sans Pro-Bold';
  font-size: 32px;
  color: #C271FF;
}

.smile-onebox h2 {
  font-family: 'Source Sans Pro-SemiBold';
  font-size: 18px;
  color: #FFFFFF;
}

.smile-onebox p {
  font-family: 'Source Sans Pro-Regular';
  font-size: 14px;
  color: #FFFFFF;
}

.membership-box button {
  background-color: #C271FF;
}

.smileys img {
  width: 43px;
}

.faq {
  background-color: #F2F2F2;
}
