@font-face {
  font-family: 'Source Sans Pro-Regular';
  src: url(fonts/SourceSansPro-Regular.otf);
}


@font-face {
  font-family: 'Source Sans Pro-Bold';
  src: url(fonts/SourceSansPro-Bold.otf);
}

@font-face {
  font-family: 'Source Sans Pro-Semibold';
  src: url(fonts/SourceSansPro-Semibold.otf);
}



@font-face {
  font-family: 'Source Sans Pro-Extralight';
  src: url(fonts/SourceSansPro-ExtraLight.otf);
}

@font-face {
  font-family: 'Source Sans Pro-Light';
  src: url(fonts/SourceSansPro-Light.otf);
}

@font-face {
  font-family: 'Source Sans Pro-LightIt';
  src: url(fonts/SourceSansPro-LightIt.otf);
}


@font-face {
  font-family: 'Source Sans Pro-Black';
  src: url(fonts/SourceSansPro-Black.otf);
}

@font-face {
  font-family: 'Source Sans Pro-It';
  src: url(fonts/SourceSansPro-It.otf);
}

h1,
h2,
h3,
a,
p {
  font-weight: none;
  font-style: none;
  text-decoration: none;


}


.jumbotron {
  background: url(images/background.png) fixed center no-repeat;
  background-size: cover;
  height: 1093px;

}



.navbar-brand a {
  font-family: 'Source Sans Pro-Bold';
  font-size: 12px;
  text-decoration: none;
}

.banner h1 {
  font-family: 'Source Sans Pro-Bold';

}

.three-words p {
  font-family: 'Source Sans Pro-Bold';

}

.banner button {
  background-color: #C271FF;
}

.banner li {
  text-decoration: none;
}



.three-words p {
  font-size: 16px;
}

.learn {
  font-family: 'Source Sans Pro-Bold';
  font-size: 32px;
  color: #C271FF;
}

.from-the-pros {
  font-family: 'Source Sans Pro-Light';
  font-size: 32px;
}

.four-pros h3 {
  font-family: 'Source Sans Pro-Black';
  font-size: 18px;
}

.four-pros p {
  font-family: 'Source Sans Pro-Regular';
  font-size: 16px;

}

.pro-description {
  width: 180px;
  text-align: center;
  margin: 0 auto;
}

.testimonial {
  background-color: #C271FF;
}

.testimonial i,
blockquote {
  font-family: 'Source Sans Pro-Regular';
  font-size: 22px;
}

.testimonial p {
  font-family: 'Source Sans Pro-Bold';
  font-size: 22px;
}

.video h1 {
  font-family: 'Source Sans Pro-ExtraLight';
  font-size: 32px;
  color: #071629;
}

.video span {
  font-family: 'Source Sans Pro-Bold';
  font-size: 32px;
  color: #C271FF;
}

.video h2 {
  font-family: 'Source Sans Pro-Bold';
  font-size: 16px;
  color: #071629;
}

.video p {
  font-family: 'Source Sans Pro-Regular';
  font-size: 14px;
  color: #071629;
  opacity: 50.16%;
}

.video h3 {
  font-family: 'Source Sans Pro-SemiBold';
  font-size: 14px;
  color: #C271FF;
}

.stars-mins p {
  font-family: 'Source Sans Pro-SemiBold';
  font-size: 14px;
  color: #C271FF;
}



.stars-mins img {
  max-width: 15px;
  max-height: 15px;
}

.membership {
  background-color: #071629;
}

.free-membership h1 {
  font-family: 'Source Sans Pro-ExtraLight';
  font-size: 32px;
  color: #FFFFFF;
}

.free-membership span {
  font-family: 'Source Sans Pro-Bold';
  font-size: 32px;
  color: #C271FF;
}

.smile-onebox h2 {
  font-family: 'Source Sans Pro-SemiBold';
  font-size: 18px;
  color: #FFFFFF;
}

.smile-onebox p {
  font-family: 'Source Sans Pro-Regular';
  font-size: 14px;
  color: #FFFFFF;
}

.membership-box button {
  background-color: #C271FF;
}

.smileys img {
  width: 43px;
}

.faq {
  background-color: #F2F2F2;
}

.carousel-control-prev img,
.carousel-control-next img {
  width: 40px;
  height: 80px;
}

.footer {
  background-color: #071629;
}

.footer p {
  color: #FFFFFF;
  font-size: 12px;
  font-family: 'Source Sans Pro-Regular';
}

.footer-img img {
  width: 169px;
  height: 30px;
}

.links img {
  width: 130px;
  height: 30px;
}

.pricing-banner h1 {
  font-family: 'Source Sans Pro-Bold';
  font-size: 32px;
}

.pricing-smiley {
  width: 37px;
  height: 30px;
}

.pricing-banner span {
  font-family: 'coiny';
  font-size: 32px;
}

.go-pro h2 {
  font-family: 'Source Sans Pro-Bold';
  font-size: 60px;

}

.table {
  --bs-table-bg: transparent !important;
  --bs-table-border-color: #979797 !important;
  --bs-table-color: #FFFFFF !important;
  font-family: 'Source Sans Pro-Regular';
  font-size: 18px;
}

.table button {
  background-color: #C271FF;
}

.money {
  font-family: 'Source Sans Pro-Bold';
  font-size: 44px;
  text-align: center;
}

.per-mo {
  font-family: 'Source Sans Pro-Regular';
  font-size: 12px;
  text-align: center;
}

.table img {
  width: 28px;
  height: 28px;
  ;
}

.signal img {
  width: 88px;
  height: 35px;
}

.pricing-table table tr:nth-child(1),
.pricing-table table tr:nth-child(2),
.pricing-table table tr:nth-child(3) {
  border-top: none;
  border-bottom: none;
}

.pricing-table table tr:nth-child(1) td,
.pricing-table table tr:nth-child(2) td,
.pricing-table table tr:nth-child(3) td {
  border-top: none;
  border-bottom: none;
}

.bordered-row {
  border-bottom: 1px solid #979797 !important;
}

.faq-box h1 {
  font-family: 'Source Sans Pro-Light';
  font-size: 60px;
}

.faq-box h2 {
  font-family: 'Source Sans Pro-Bold';
  font-size: 16px;
}

.faq-box p {
  font-family: 'Source Sans Pro-Regular';
  font-size: 14px;
  color: #071629;
  opacity: 50%;
}


.dont-cry-smile h1 {
  font-family: 'coiny';
  font-size: 32px;
  color: #FFFFFF;
}

.dont-cry-smile span {
  font-family: 'coiny';
  font-size: 32px;
  color: #C271FF;
}

.input-section {
  background-color: #C271FF;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.5) !important;
  color: #FFFFFF;
  border-color: #979797 !important;
  border-radius: 0 !important;
}

.input-group-text img {
  width: 20px;
  height: 20px;
}

.input-group-text {
  background-color: rgba(255, 255, 255, 0.5) !important;
  color: #FFFFFF;
  border-color: #979797 !important;
  border-radius: 0 !important;
}
