@font-face {
  font-family: 'Source Sans Pro-Regular';
  src: url(fonts/SourceSansPro-Regular.otf);
}


@font-face {
  font-family: 'Source Sans Pro-Bold';
  src: url(fonts/SourceSansPro-Bold.otf);
}

@font-face {
  font-family: 'Source Sans Pro-Semibold';
  src: url(fonts/SourceSansPro-Semibold.otf);
}



@font-face {
  font-family: 'Source Sans Pro-Extralight';
  src: url(fonts/SourceSansPro-ExtraLight.otf);
}

@font-face {
  font-family: 'Source Sans Pro-Light';
  src: url(fonts/SourceSansPro-Light.otf);
}

@font-face {
  font-family: 'Source Sans Pro-LightIt';
  src: url(fonts/SourceSansPro-LightIt.otf);
}


@font-face {
  font-family: 'Source Sans Pro-Black';
  src: url(fonts/SourceSansPro-Black.otf);
}

@font-face {
  font-family: 'Source Sans Pro-It';
  src: url(fonts/SourceSansPro-It.otf);
}


.jumbotron {
  background: url(images/background.png) fixed center no-repeat;
  background-size: cover;
}

.navbar-brand a {
  font-family: 'Source Sans Pro-Bold';
  font-size: 12px;
}



div {
  border: 1px solid #ddd;
}
